In [1]:
import pandas as pd
import numpy as np

In [28]:
df = pd.read_csv("./INPUT/big_bang_theory_dataset.csv", encoding='utf-8')

In [29]:
df.head()

,Unnamed: 0,Location,Scene,Text,Speaker,Season
0,0,The apartment,NaN,Again I’m right here.,Leonard,3
1,1,The apartment,NaN,Fine. The record shall so reflect. Now getting...,Sheldon,5
2,2,The room in the basement,"Sheldon enters, takes out a box, takes a bean...",One two three four five six seven eight… Drat....,Sheldon,6
3,3,Sheldon and Amy’s bedroom,NaN,I’m not sure. Earlier tonight things began org...,Sheldon,10
4,4,A cinema,NaN,He’s finding the acoustic sweet spot.,Leonard,2

In [30]:
df = df[["Speaker","Text"]]

In [31]:
df.head()

   Speaker                                               Text
0  Leonard                              Again I’m right here.
1  Sheldon  Fine. The record shall so reflect. Now getting...
2  Sheldon  One two three four five six seven eight… Drat....
3  Sheldon  I’m not sure. Earlier tonight things began org...
4  Leonard              He’s finding the acoustic sweet spot.

In [32]:
df.isnull().sum()

Speaker       0
Text       1230
dtype: int64

In [34]:
df.drop(df[df.Text.isnull()].index, inplace = True)

In [35]:
df.isnull().sum()

Speaker    0
Text       0
dtype: int64

In [36]:
df.head()

   Speaker                                               Text
0  Leonard                              Again I’m right here.
1  Sheldon  Fine. The record shall so reflect. Now getting...
2  Sheldon  One two three four five six seven eight… Drat....
3  Sheldon  I’m not sure. Earlier tonight things began org...
4  Leonard              He’s finding the acoustic sweet spot.

In [37]:

df.to_json("OUTPUT/clean.json",orient="records")

In [38]:
df.to_csv("OUTPUT/cleanCSV.csv")